@import 'https://fonts.googleapis.com/css?family=Droid+Sans|Inconsolata';

.objBasicBackground {
    background: rgba(0,0,0,.3);
    color: rgba(255,255,255, 1);
}
.content {
  width: 80%;
  min-width: 42em;
  margin: 0 auto;
  font-family: 'Droid Sans', sans-serif;
  font-size: 16px;
}
h1, h2, h3{
  text-align:center;
}

.inlineCode{
 background: #000;
 color: white;
 border-radius: 5px;
 font-family: 'Inconsolata', monospace;
  padding: 2px;
  text-align:justify;
}
pre {
  background: #000;
    color: white;
  border-radius: 25px;
  font-family: 'Inconsolata', monospace;
  padding: 25px;
  text-align:justify;
}