/*
----------------------------------------Colors
#ffffff	(255,255,255)
#999999	(153,153,153)
#666666	(102,102,102)
#333333	(51,51,51)
#000000	(0,0,0)
*/
*,
*:before,
*:after {
  box-sizing: inherit;
}
html {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
	height:100%;
}
body {
	margin: 0;
  background-image: url('../IMG/banner.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  position: relative;
  min-height: 100%;
  padding-bottom: 75px;
}
footer {
  width: 100%;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  height: 75px;
  background: rgba(0, 0, 0, .5);
}
.contentFull{
	display: flex;
	flex-direction: column;
}
/*---Nav--------------------------Nav---*/
#navbar > ul > li {
	text-align: center;
}

/*---Header Box--------------------------Header Box---*/

div.headerContainer {
	color: #fff;
	margin: 25px auto;
}
div.headerContainer h1{
    font-size: 2em;
}
.headerContainer p {
	border-left: 1px #fff solid;
	border-top: 1px #fff solid;
	text-align: right;
	position: relative;
	left: 24px;
	width: 250px;
	margin: 5px;
	padding: 5px;
}
/*---Index Cards--------------------------Index Cards---*/

.megaIconContainer{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: center;
}
.megaIconItem {
	color: white;
	text-align: center;
	background: rgba(0,0,0, .5);
	border-radius: 5px;
	width: 250px;
	height: 250px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
	align-content: center;
	transition: 0.5s;
    transform-style: preserve-3d;
    position: relative;
    margin: 10px 0;
}
.megaIconFlip:hover .megaIconItem{
	transform: rotateY(180deg);   
}
 .front, .back {
        backface-visibility: hidden;
        position: absolute;
}
  .front {
        z-index: 1;
        transform: rotateY(180deg);
}
 .back {
        z-index: 2; /* back side, placed above front */
        transform: rotateY(0deg);
}
.megaIconItem i {
	font-size: 150px;
	padding: 10px;
}
.megaIconItem p {
	font-size: 1.2em;
	font-weight: 900;
	padding: 10px;
} 


/*---Project Cards--------------------------Project Cards---*/
.projectCard {
	border-radius: 5px;
	border: 1px #999999 solid;
	box-shadow: 2px 2px 2px #000;
	margin:1.375em auto;
	padding: 15px;
	max-width: 460px;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	align-items: center;
}
.cardTitle, .cardThumbnail, .cardDescription{
	flex-grow: 1;
	flex-shrink: 0;
}
h1.cardTitle {
	text-align: center;
	padding: 10px;
}
img.cardThumbnail{
	width: 100%;
	max-width: 360px;
	max-height: 220px;
	box-shadow: 4px 4px 4px #333333;
}

.projectCard p {
	padding: 10px;
	color: black;
	font-weight:bold;
}

.uMKE {
	background: rgba(242, 204, 255, .6);
}
.bBnk {
	background: rgba(48, 72, 72, .6);
}
.gGH {
	background: rgba(255, 204, 102, .6);
}
.pLS {
	background: rgba(210, 210, 210, .6);
}
.tTT {
	background: rgba(102, 0, 0, .6)
}
.sTMH {
	background: rgba(153, 187, 255, .6);
}

/*---Social Footer--------------------------Social Footer---*/

.footerContainer{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	color: #fff;
}

.footerContainer > .footerItem > a > i:hover {
	cursor: pointer;
	transition: .2s ease;
	color: #000;
}

.footerContainer > .footerItem > a >  i {
	color: #fff;
	margin: 0 5px;
	font-size:1.5em;

}

.footerItem {
	margin-top: 10px;
	line-height: 10px;
}